# --- 1. Admin and Indexer Credentials (WAZUH/SIEM) ---
API_USERNAME=admin
API_PASSWORD=Ch@ngm3!1
INDEXER_USERNAME=admin
INDEXER_PASSWORD=SecretPassword

# --- 2. Juice Shop Configuration (Vulnerable App) ---
# Biến dùng cho service 'postgres'
JUICE_SHOP_POSTGRES_DB=juiceshop
JUICE_SHOP_POSTGRES_USER=juiceshop
JUICE_SHOP_POSTGRES_PASSWORD=juiceshop123

# Biến dùng cho service 'juiceshop'
JUICE_SHOP_DB_HOST=postgres
JUICE_SHOP_DB_PORT=5432
JUICE_SHOP_DB_NAME=juiceshop
JUICE_SHOP_DB_USER=juiceshop
JUICE_SHOP_DB_PASSWORD=juiceshop123

# --- 3. General Configuration ---
# Timezone (Sử dụng bởi DVWA, Postgres, Juice Shop)
TZ=Asia/Ho_Chi_Minh